<!DOCTYPE HTML>
<html>

  <head>

    <title>
      $title$ - Tutorials
    </title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0,
                                   maximum-scale=5.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="uUpeU0Xsc1oiaKwIVW1RnAbHbKozHBAJdd9XA-fJm-k">

    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="$protocol$$host$$url$">
    <meta property="og:title" content="$title$">
    <meta property="og:type" content="article">
    <meta property="og:section" content="Technology">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="$title$">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="$protocol$$host$$url$">
    <meta property="twitter:title" content="$title$">

    $if(description)$
      <meta property="og:description" content="$description$">
      <meta property="twitter:description" content="$description$">
    $endif$

    $if(author-name)$
      <meta property="og:author" content="$author-name$">
    $endif$

    $if(published)$
      <meta property="og:published_time" content="$published$">
    $endif$

    $if(image)$
      <meta property="og:image" content="$protocol$$host$/tutorials/$image$"/>
      <meta property="twitter:image" content="$protocol$$host$/tutorials/$image$">
    $else$
      <meta property="og:image" content="$protocol$$host$/tutorials/DefaultPost.png"/>
      <meta property="twitter:image" content="$protocol$$host$/tutorials/DefaultPost.png">
    $endif$

    <link rel="shortcut icon" type="image/png"
          href="$host$/assets/img/favicon.png">

    <link rel="alternate" hreflang="en"
          href="/tutorials"> <!-- TODO: make this dynamic -->
    <link rel="stylesheet" type="text/css"
          href="$host$/assets/stylesheets/application.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" type="text/css"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/tutorials/javascripts/googleanalytics.js"></script>
  </head>

  <body itemscope="" itemtype="http://schema.org/WebPage">

    <div itemprop="mainEntity">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar__header container">
          <div class="row">
            <div itemscope itemtype="http://schema.org/Organization">
              <div class="navbar__header__logo compact">
                <a class="img-logo" href="$host$/" title="Stack Builders">
                  <img itemprop="image" srcset="$host$/assets/images/stack-builders-logo-horizontal.png 1x, $host$/assets/images/stack-builders-logo-horizontal@2x.png 2x" src="$host$/assets/images/stack-builders-logo-horizontal.png" alt="Stack Builders logo">
                  <span class="hidden" itemprop="name">
                    Stack Builders
                  </span>
                </a>
                <button class="navbar-toggle" type="button" data-target="#navbarOptions" data-toggle="collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="nav navbar-nav navbar-right"><div class="navbar__header__contact_info">
                  <div class="navbar__header__contact_info__languages">
                    <!-- <a href="$host$/es/news/page/1">Español</a> -->
                  </div>
                  <div class="navbar__header__contact_info__phone"><a href="tel:212-686-5870" itemprop="telephone">212 686-5870</a>&nbsp;
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar__links nav navbar-center collapse navbar-collapse" id="navbarOptions" itemprop="breadcrumb">
              <ul class="list-inline">
                <li><a href="$host$/services">Services</a></li>
                <li><a href="$host$/portfolio">Portfolio</a></li>
                <li><a href="$host$/news/page/1">News</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
                <li><a href="$host$/join">Join Us</a></li>
                <li><a href="$host$/contact">Contact</a></li>
                <!-- <li class="navbar__links__contact_info__languages"><a href="$host$/es/news/page/1">Español</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <section class="$hero$__hero">
      <div class="container">
        <h1>
          Stack Builders Tutorials
        </h1>
      </div>
    </section>

    <div class="tutorials container">
        $body$
    </div>

    <section class="careers__we_are_hiring">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 v-center-container">
            <h2>
              Do You Have What it Takes To Be a Stack Builder?
            </h2>
            <div class="careers__we_are_hiring__cta">
              <a class="btn btn-cta-secondary" href="$host$/join" title="Join Our Team">
                Join Our Team
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 footer__right">
            <a href="$host$/" title="Stack Builders">
              <img class="footer__logo svg-logo" src="$host$/assets/images/stack-builders-logo-blackwhite.svg" alt="Stack Builders logo">
            </a>
          </div>
          <div class="col-sm-6">
            <div class="footer__conversation">
              <h6>
                Join The Conversation
              </h6>
              <div class="footer__conversation__social">
                <a href="https://twitter.com/stackbuilders" target="_blank" rel="nofollow">
                  <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/Stack-Builders-207670466070752/" target="_blank" rel="nofollow">
                  <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
                </a>
                <a href="http://www.linkedin.com/company/stack-builders" target="_blank" rel="nofollow">
                  <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                <a href="https://github.com/stackbuilders" target="_blank" rel="nofollow">
                  <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 footer__copyright">© Stack Builders Inc. 2017</div>
        </div>
      </div>
    </footer>

<script type="text/javascript"
        src="//code.jquery.com/jquery-1.12.0.min.js">
</script>
<script type="text/javascript"
        src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>
<script type="text/javascript"
        src="$host$/assets/javascripts/all.min.js">
</script>
<script type="text/javascript"
        src="$host$/assets/javascripts/pages/tutorials.min.js">
</script>
<script type="text/javascript"
        src="//platform.twitter.com/widgets.js">
</script>
<script type="text/javascript"
        src="/tutorials/javascripts/tutorials.js">
</script>

  </body>
</html>
