<div class="row">
  <div class="tutorial-content">
    <h2>
      $title$
    </h2>

    <p>
      First published: $published$<br/>
      by $author-name$
    </p>

    <p>
      Tested with:
      <ul>
        $if(lts)$
        <li>
          Resolver:
          <a href="https://www.stackage.org/lts-$lts$">
            LTS Haskell $lts$ (ghc-$ghc$)
          </a>
        </li>
        $endif$
        $if(nightly)$
        <li>
          Resolver:
          <a href="http://www.stackage.org/nightly-$nightly$">
            Stackage Nightly $nightly$ (ghc-$ghc$)
          </a>
        </li>
        $endif$
        $if(libs)$
        <li>
          Libraries:
          $for(libs)$
          <a href="https://hackage.haskell.org/package/$lib$">
            $lib$
          </a>
          $endfor$
        </li>
        $endif$
      </ul>
    </p>

    <hr>

    $body$

    <hr>

    <p>
      Thanks for reading this tutorial! If you have any feedback,
      please
      tweet <a href="https://twitter.com/stackbuilders">@stackbuilders</a>
      and let us know what you think.
    </p>

  </div>
</div>
