<div>
  <div class="row">
    <p>
      At Stack Builders, we consider it our mission not only to develop robust and reliable
      applications for clients, but to help the industry as a whole by lowering the barrier to
      entry for technology that we consider important. We hope that you enjoy, and find useful,
      our tutorials. If you have suggestions for additional tutorials, please feel free to open an
      issue or PR on our
      <a href="https://github.com/stackbuilders/tutorials" target="_new">
        tutorials repository on GitHub</a>.
    </p>
    <p>
      <a href="/tutorials/atom.xml" title="Atom Feed">Atom Feed</a>
      &nbsp;
      <a href="/tutorials/rss.xml" title="RSS Feed">RSS Feed</a>
    </p>
  </div>

  <h1 class="title">$title-list$</h1>

  <div class="news">
    $for(tutorials)$
    <div itemscope itemtype="http://schema.org/TechArticle">
      <div class="index row">
        <div class="blog-content">
          <a class="blog-link-from-index" href="$url$" itemprop="url">
            <h1 class="blog-title" itemprop="headline">$title$</h1>
          </a>
          <div class="blog-info tutorial-info">
            <span itemprop="datePublished">$published$</span>
          </div>
          <br>
          <div class="synopsis">
            <span itemprop="description">$description$</span>
          </div>
        </div>
      </div>
    </div>
    $endfor$
  </div>
</div>
