<div class="row">
  <div class="tutorial-content">
    <h2>
      $title$
    </h2>

    <p>
      First published: $published$
    </p>

    <p>
      Tested with:
      <ul>
        $if(lts)$
          <li>
            Resolver:
            <a href="https://www.stackage.org/lts-$lts$">
              LTS Haskell $lts$ (ghc-$ghc$)
            </a>
          </li>
        $endif$
        $if(nightly)$
          <li>
            Resolver:
            <a href="https://www.stackage.org/nightly-$nightly$">
              Stackage Nightly $nightly$ (ghc-$ghc$)
            </a>
          </li>
        $endif$
      </ul>
    </p>

    <hr>

    $body$

    <hr>

    Feedback? $author$
  </div>
</div>
