# Common
.idea
*.map

# VsCode
.vscode

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log

# TypeScript files
**/*.js

# npm package-lock.json
package-lock.json

